pip
wheel
setuptools
python-whl/riscv64/numpy-1.24.0.dev0+503.gc1fce11d7-cp310-cp310-linux_riscv64.whl
python-whl/riscv64/scipy-1.10.0.dev0-py3-none-linux_riscv64.whl
python-whl/riscv64/tflite_runtime-2.10.0-cp310-cp310-linux_riscv64.whl
colorama==0.4.4
librosa
pytz
tzlocal
python-whl/riscv64/scikit_learn-1.2.dev0-cp310-cp310-linux_riscv64.whl
python-whl/riscv64/pandas-1.5.0.dev0+1121.g56dc719400-cp310-cp310-linux_riscv64.whl
seaborn
streamlit
plotly
apprise
paho-mqtt
pytest==7.1.2
pytest-mock==3.7.0
